extends common/layout

block content
        section.search
            h1 Crate your holiday activity
            p Hi! What are your holiday interests?
            .input
                input(type='text' placeholder='Enter your interests')
                button Search partners
        hr
