footer
    section.footer
        .footerGrid
            .footerTitle Dreamshare
            .footerCompany
                .footerCompanyArticle Company
                .footerCompanyItems
                    .footerCompanyItem About
                    .footerCompanyItem Contact
                    .footerCompanyItem Press
                    .footerCompanyItem Blog
                    #ItemFour.footerCompanyItem Terms and Privacy
                    #ItemHelp.footerCompanyItem Help
            .footerPartners Partners
            .footerLogo
                p.footerLogoArticle Designed By
                img(src='./images/Bitmap.png' alt='')
