block header
  section.header
    p.headerTop
      span.dreamshare Dreamshare
      span.login Log in
      button.signup Sign up
    h1 Share your holiday dream
    p.headerDescription And find the perfect partner to fullfill it
    button.headerFind Find your holiday partner
