block holiday
    section.holiday
        h1 Discover holiday activity ideas
        .holidayIdeas
            .holidayIdea1
                p Sports and Activis
            .holidayIdea2
                p Wellness and Health
            .holidayIdea3
                p Extreme Sports and Expeditions
            .holidayIdea4
                p Games
            .holidayIdea5
                p Culture and Education
            .holidayIdea6
                p Enjomet and Relaxation
            .holidayIdea7
                p Trevelling