block partners 
    section.partners
        h1 Meet a partner for your best holiday
        .partnersAvatars
            .partnersAvatarsItem
                img(src='./images/Avatar.png' alt='')
                p.name1 Bradley Hunter
                p.description1 Based in Chicago. I love playing tennis and loud music.
            .partnersAvatarsItem
                img(src='./images/Avatar (1).png' alt='')
                p.name2 Marie Bennett
                p.description2 Currently living in Colorado. Lover of art, languages and travelling.
            .partnersAvatarsItem
                img(src='./images/Avatar (2).png' alt='')
                p.name3 Diana Wells
                p.description3
                    | Living in Athens, Greece. I love black and white classics, chillout music and
                    | green tea.
            .partnersAvatarsItem
                img#avatar3(src='./images/Avatar (3).png' alt='')
                p.name4 Christopher Pierce
                p.description4 Star Wars fanatic. I have a persistent enthusiasm to create new things.
        .partnersAvatarsSmall
            .partnersAvatarsItem
                img(src='./images/Avatar.png' alt='')
                p.name1 Bradley Hunter
                p.description1 Based in Chicago. I love playing tennis and loud music.
            .partnersAvatarsItem
                img(src='./images/Avatar (2).png' alt='')
                p.name3 Diana Wells
                p.description3
                    | Living in Athens, Greece. I love black and white classics, chillout music and
                    | green tea.
            .partnersAvatarsItem
                img(src='./images/Avatar (1).png' alt='')
                p.name2 Marie Bennett
                p.description2 Currently living in Colorado. Lover of art, languages and travelling.
            .partnersAvatarsItem
                img#avatar3(src='./images/Avatar (3).png' alt='')
                p.name4 Christopher Pierce
                p.description4 Star Wars fanatic. I have a persistent enthusiasm to create new things.
        button See other partners