block step
    section.step
        h1 How Dreamshare works?
        .steps
            .step1
                button.step1p Step 1
                p.step1Title Sed leo enim, condimentum
                p.step1Description
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
                    | rhoncus a leo sit amet facilisis.
            .step2
                button.step2p Step 2
                p.step2Title Morbi velit risus
                p.step2Description
                    | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
                    | porttitor est.
            .step3
                button.step3p Step 3
                p.step3Title Sed leo enim, condimentum
                p.step3Description
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
                    | rhoncus a leo sit amet facilisis.